.list-card {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;

  border-radius: 10px;
  text-align: center;
  font-weight: 900;

  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  --tw-bg-opacity: 1;
  background-color: rgba(129, 140, 248, var(--tw-bg-opacity));
}


.list-title {
  font-size: 12px;
  font-weight: 600;
  color: #FFFFFF;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.link-to-list,
.link-to-list:hover {
  text-decoration: none;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
