@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.main {
  text-align: center;
  min-width: 500px;
  min-height: 175px;
  background-color: #fafafa;
}

.greetings {
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}

.detected-item {
  font-size: 14px;
  font-weight: 300;
}

.item-title {
  font-weight: 600;
}

.not-meli-message {
  margin-top: 30px;
  color: rgb(100, 100, 100)
}

.undo-button {
  color: rgb(79, 79, 255);
}

.undo-button:hover {
  color: rgb(104, 104, 255);
  text-decoration: underline;
  cursor: pointer;
}

.app-title {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
}