@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.main {
  text-align: center;
  min-width: 500px;
  min-height: 175px;
  background-color: #fafafa;
}

.greetings {
  font-weight: 900;
  font-size: 18px;
  color: linear-gradient(90deg, rgba(100, 242, 187, 1) 0%, rgba(155, 194, 252, 1) 73%);
}

.detected-item {
  font-size: 14px;
  font-weight: 600;
}

.item-title {
  font-weight: 900;
}

.not-meli-message {
  margin-top: 30px;
  color: #bebebe
}