@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.not-logged {
  padding-top: 75px;
  text-align: center;
  min-width: 500px;
  min-height: 175px;
  background-color: #fafafa;
}
